body{
    margin-top: 100px;
}
.navbar-default .navbar-nav > li > a{
    padding: 15px 15px;
    margin: 5px 0;
}

.navbar-default{
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-color: transparent;
    box-shadow: 0 0px 13px rgba(0,0,0,.2);
}

.btn-info,
.btn-info:hover,
.btn-info:focus{
    color: #FFF !important;
    background-color: #00bbff !important;
    border-color: #00bbff !important;
}

.btn-info{
    opacity: .8;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.btn-info:hover,
.btn-info:focus{
    opacity: 1;
}